@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Add your watchlist peacefully without any hestitation. Cheers ;) </p>
    <a asp-controller="Home" asp-action="Watchlist" class="btn btn-primary">My Watchlist</a>
    <a asp-controller="Home" asp-action="CreateWatchlist" class="btn btn-primary">Add To Watchlist</a>
</div>
